{{#if map}}
<div class="user-block-h col-md-3 col-sm-6">
    <span class="glyphicon glyphicon-user"></span>
    <div class="user-block-h-content">
        <strong>First Name, Last Name</strong>
        <span class="contact-phone">(888) 888-8888</span>
        <span class="contact-location">Irvine, CA 92618</span>
    </div>
</div>
{{else}}
<div class="user-block col-sm-3 col-xs-6">
    <span class="glyphicon glyphicon-user"></span>
    <strong>First Name, Last Name</strong>
    <span class="contact-phone">(888) 888-8888</span>
    <span class="contact-added-map">Added to Map</span>
    <span class="contact-added-sos">Added to SOS</span>
    <a href="#" class="btn btn-primary btn-block">Add to Map</a>
    <a href="#" class="btn btn-primary btn-block">Add to SOS</a>
    <a href="#" class="btn btn-primary btn-block">Edit</a>
</div>
{{/if}}
