<footer class="admin-footer">
  <div class="container text-center">
    <p>Footer</p>
</footer>

<!-- "back-to-top" button -->
<!--<a href="#" style="right: 70px;" class="btn back-to-top btn-dark btn-fixed-bottom"> <span class="glyphicon glyphicon-chevron-up"></span> </a>-->
