<div class="admin-current">
    <h3>Manually Created Alerts</h3>
    <div class="row admin-current-titles">
        <div class="col-md-2">
            Alert Title
        </div>
        <div class="col-md-2">
            Date Reported
        </div>
        <div class="col-md-8">
            Alert City
        </div>
    </div>
    <div id="manualalerts"></div>
</div>
