<div class="admin-current">
    <h3>Manually Created Alerts</h3>
    <div class="row admin-current-titles">
        <div class="col-md-2">
            Alert Update
        </div>
        <div class="col-md-2">
            Event
        </div>
        <div class="col-md-8">
            Alert Text
        </div>
    </div>
    <div id="manualalerts"></div>
</div>
