<div class="admin-current">
    <h3>Current Events and Alerts</h3>
    <div class="row admin-current-titles">
        <div class="col-md-2">
            Alert Update
        </div>
        <div class="col-md-2">
            Event
        </div>
        <div class="col-md-8">
            Alert Text
        </div>
    </div>
    <div class="well admin-current-alert">
        <div class="row">
            <div class="col-md-2">
                Alert Update
            </div>
            <div class="col-md-2">
                Event
            </div>
            <div class="col-md-8">
                Alert Text
            </div>
        </div>
    </div>
</div>
