<div class="container-fluid admin-events">
    <div class="container">
        <div class="row">
            <div class="col-md-3 event">
                <h5>New Event - No Action Taken</h5>
                <p>
                    Event Details<br />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <a href="#" class="btn btn-primary btn-block">Take Action</a>
            </div>
            <div class="col-md-3 event">
                <h5>New Event - No Action Taken</h5>
                <p>
                    Event Details<br />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <a href="#" class="btn btn-primary btn-block">Take Action</a>
            </div>
            <div class="col-md-3 event">
                <h5>Ongoing Event</h5>
                <p>
                    Event Details<br />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <a href="#" class="btn btn-primary btn-block">Take Action</a>
            </div>
            <div class="col-md-3 event">
                <h5>Monitored Event</h5>
                <p>
                    Event Details<br />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <a href="#" class="btn btn-primary btn-block">Take Action</a>
            </div>
        </div>
    </div>
</div>
