<div class="well admin-api-alert">
    <h5>
        Alert
        <span class="pull-right">88/88/8888 88:88:88</span>
    </h5>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac leo ligula.
    </p>
</div>
