<div class="admin-current">
    <h3>Manually Created Alerts</h3>
    <div class="row admin-current-titles">
        <div class="col-md-2">
            Alert Update
        </div>
        <div class="col-md-2">
            Event
        </div>
        <div class="col-md-8">
            Alert Text
        </div>
    </div>

    {{! show most recent 5 of these}}
    <a href="event.html" class="admin-current-alert">
        <div class="well">
            <div class="row">
                <div class="col-md-2">
                    88/88/8888 88:88:88<br />{{!date and time of alert}}
                    Alert Title </div>
                <div class="col-md-2">
                    88/88/8888 88:88:88<br />{{!date and time of event}}
                    EARTHQUAKE
                </div>
                <div class="col-md-8">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam cursus, nisl id tincidunt rhoncus, sapien odio facilisis dolor, eget elementum velit nulla eu arcu. Proin gravida neque in accumsan viverra.
                </div>
            </div>
        </div>
    </a>

    </div>
