{{#if map}}
    <div class="map-overlay">
        {{#if loggedin}}
            <a href="addlocations.html" class="btn btn-primary btn-location">Add Location</a>
            {{!--<div class="sos-banner">
                <h3> Alert Your Emergency Contacts and Emergency Services</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non arcu eget mi egestas semper.
                </p>
                <a href="#" class="btn btn-danger btn-inverted">SOS</a>
            </div>--}}
        {{/if}}
        <div id="map" class="user-map"></div>
    </div>
{{else}}
    <div id="map" class="alert-map"></div>
{{/if}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    /*function initMap() {
                    var test = {lat: 33.632478, lng: -117.734862};
                    var map = new google.maps.Map(document.getElementById('map'), {
                      zoom: 7,
                      center: test
                    });
                    var marker = new google.maps.Marker({
                      position: test,
                      map: map
                    });
                  }*/
    var map;

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: new google.maps.LatLng(36.7468, -119.7726),
            mapTypeId: 'roadmap'
        });

        var alertMarker = {
            path: 'M 100, 100 m -75, 0 a 75,75 0 1,0 150,0 a 75,75 0 1,0 -150,0',
            fillColor: '#d9534f',
            fillOpacity: 1,
            scale: .08
        };
        var locationMarker = {
            path: 'M 100, 100 m -75, 0 a 75,75 0 1,0 150,0 a 75,75 0 1,0 -150,0',
            fillColor: '#337ab7',
            fillOpacity: 1,
            scale: .08

        };

        var infoWindow = new google.maps.InfoWindow({map: map});

        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }

        // Get locations and alerts from user object and show on google maps
     if(sessionStorage.getItem("id") != null)
    {
        $.ajax({
            type: "GET",
            url: "http://ec2-54-241-144-61.us-west-1.compute.amazonaws.com/users/" +sessionStorage.getItem("id"),
            headers: {
            'token': sessionStorage.getItem("token"),
            'Content-Type':'application/json'
         },
            }).done(function (result) {
            console.log(result);
            if(result.locations !== undefined)
            {
                /* locations array*/
                for(i=0;i<result.locations.length;i++)
                {
                    var lmarker =  new google.maps.Marker({
                      position: new google.maps.LatLng(result.locations[i].coordinates.lat, result.locations[i].coordinates.lng),
                      map: map,
                      icon:locationMarker,
                      title:result.locations[i].displayName
                    });

                }

            }
            console.log(result.alerts);
            if(result.alerts !== undefined)
            {
                /* alerts array*/
                for(i=0;i<result.alerts.length;i++)
                {
                    var d = new Date(result.alerts[i].date);
                    var m = new google.maps.Marker({
                      position: new google.maps.LatLng(result.alerts[i].loc[1], result.alerts[i].loc[0]),
                      map:map,
                      clickable:true,
                      icon:alertMarker,
                      title: "Location: " + result.alerts[i].location + "\nType: " + result.alerts[i].type + "\nName: " + result.alerts[i].name + "\nDate: " + d.toDateString()
                    });
                    /*google.maps.event.addListener(map,'click', function(){
                        infoWindow.content = m.title;
                        infoWindow.open(map, m);
                    });*/
                }
            }
            })
            .fail(function (data, textStatus, xhr) {
             alert(data.responseJSON.Error);
            });
    }







    }
</script>
{{maps api-keys.GoogleMapsAPI}}
