<div class="alert-create">
    <form>
        <div class="form-group row">
            <div class="col-sm-6">
                <label>Alert Title</label><br />
                <input type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <label>Created Events</label>
                <select class="form-control">
                    <option>
                        Select a Current Event
                    </option>
                </select>
            </div>
            <div class="col-md-3">
                <label>&nbsp;</label><br />
                <a href="#" class="btn btn-default" data-toggle="modal" data-target="#createEvent">Create a New Event</a>
            </div>
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create Alert</button>
    </form>
</div>
