<div class="modal fade" tabindex="-1" id="alertCreate" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Specific Event</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-md-4">
                <h5>Affected Areas</h5>
                <p>
                  &nbsp;
                </p>
                <h5>Event Details</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac leo ligula.
                </p>
            </div>
            <div class="col-md-8">
                {{> alert-create}}
            </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
