<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a href="{{relative page.dest "/index.html"}}" class="navbar-brand">{{default site.title 'CA Prototype'}}</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li><a href="#">Navigation</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <p class="navbar-btn"> <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#createEvent">Create Event</a></p>
                </li>
                <li>
                    <p class="navbar-btn"><a href="#" data-toggle="modal" data-target="#alertCreate" class="btn btn-primary btn-block">Create Alert</a></p>
                </li>
            </ul>
        </nav>
    </div>
</header>
