<div class="modal fade" id="popupAlert" tabindex="-1" role="dialog" aria-labelledby="popupalert">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="alertTitle"></h4>
      </div>
      <div class="modal-body" id="alertBody">
      </div>
      <div class="modal-footer" id="alertFooter">
      </div>
    </div>
  </div>
</div>
