---
title: Event
---

<div class="row">
    <div class="col-md-8">
        {{> alert-map }}

        <h3>Create An Alert for This Event</h3>
        <form action="event.html" data-toggle="validator" role="form">
            {{> alert-create}}
            <button type="button" class="btn btn-primary pull-right submit">Save &amp; Send Alert</button>
        </form>
    </div>
    <div class="col-md-4">
        <div class="admin-api">
            <h4>Event</h4>
            <p>
                88/88/8888 88:88:88<br />
                Earthquake
            </p>
            <h4>Event State</h4>
            <p>
                In Progress
            </p>
            <h4>Areas Affected</h4>
            <p>
                Lorem ipsum dolor<br />
                Sit amet consectetur<br />
                Adipiscing elit nam erat<br />
                Libero sodales ultrices<br />
                Tortor sed
            </p>
            <h4>Latest Alert</h4>
                88/88/8888 88:88:88
                <h5>Lorem Ipsum Dolor Sit</h5>
                <p>
                     Consectetur adipiscing elit. Nam erat libero, sodales ultrices tortor sed, eleifend tempus ligula.
                </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{> admin-manual-alerts}}
    </div>
</div>
