---
title: Login
layout: admin-login.hbs
---

<div class="container-table">
    <div class="row vertical-center-row">
      <div class="login">
        <h1>Admin Login Header</h1>
        <form>
          <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" placeholder="username" id="adminusername" />
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="password"  id="adminpassword"/>
          </div>
          <button type="button" class="btn btn-primary btn-block" id="btnAdminLogin">Log In</button>
        </form>
      </div>
    </div>
  </div>
