---
title: Admin
---

<div class="row">
    <div class="col-md-8">
        {{> alert-map }}
    </div>
    <div class="col-md-4">
        <div class="admin-api">
            <h3>API Generated Alerts</h3>
            {{> admin-api-alerts}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">        
        {{> admin-manual-alerts}}
    </div>
</div>
