---
title: Add Contacts
loggedin: true
---
<div class="row">
    <div class="col-md-4">
        <p>
            <a href="/user/" class="btn btn-primary btn-block">Back to Map</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Add A Contact</h2>
        <p>
            Quisque elementum malesuada sem, rutrum pharetra augue suscipit auctor.
        </p>
        <form>
            <div class="form-group">
                <label>Contact Name</label>
                <input type="text" class="form-control" placeholder="First Name, Last Name" />
            </div>
            <div class="form-group">
                <label>Contact Phone Number</label>
                <input type="text" class="form-control" placeholder="888-888-8888" />
            </div>
            <div class="form-group">
                <label>Re-Type Contact Phone Number</label>
                <input type="text" class="form-control" placeholder="888-888-8888" />
            </div>
            <p class="text-danger">
                Phone numbers must match
            </p>
            <button type="submit" class="btn btn-primary btn-block">Add To Contacts</button>
        </form>
    </div>
    <div class="col-md-8">
        <h2>Your Contacts</h2>
        <p>
            Quisque elementum malesuada sem, rutrum pharetra augue suscipit auctor. Ut cursus, neque in pretium facilisis, dolor justo ultrices tortor, at consectetur mi erat eget odio.
        </p>
        <div class="row">
            {{> added-contact}}
        </div>
    </div>
</div>
