---
title: Add Locations
loggedin: true
---
<div class="row">
    <div class="col-md-4">
        <p>
            <a href="index.html" class="btn btn-primary btn-block">Back to Map</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Add A Location</h2>
        <p>
            Quisque elementum malesuada sem, rutrum pharetra augue suscipit auctor.
        </p>
        <form data-toggle="validator" role="form">
            <div class="form-group">
                <label>City or Zip</label>
                <input type="text" class="form-control" placeholder="12345" id="cityzip" required />
            </div>
            <button type="button" class="btn btn-primary btn-block" id="addlocation">Add To Watched Locations</button>
        </form>
    </div>
    <div class="col-md-8">
        <h2>Your Watched Locations</h2>
        <p>
            Quisque elementum malesuada sem, rutrum pharetra augue suscipit auctor. Ut cursus, neque in pretium facilisis, dolor justo ultrices tortor, at consectetur mi erat eget odio.
        </p>
        <div class="row">
            {{> added-location}}
        </div>
    </div>
</div>
