---
title: Confirmed
loggedin: true
---
<script type="text/javascript">
 //console.log("ID " + sessionStorage.getItem("id"));
   if(sessionStorage.getItem("id") === null)
    {
        location.href = "/login.html"
    }


</script>
    <div class="row">
      <div class="user-reg col-md-4 col-md-offset-4">
            <a href="index.html" class="btn btn-primary btn-block">Back to Map</a>
        <h2>Account Confirmed</h2>
        <h5>Successfully confirmed loremipsum@email.com and associated it with your profile.</h5>
    </div>
</div>
{{> add-phone}}
