---
title: User Landing
loggedin: true
map: true
---
{{> alert-map}}
<div class="contact-banner">
    <div class="container">
        <h2>Alert Your Emergency Contacts and Emergency Services</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non arcu eget mi egestas semper.
        </p>
        <p>
            <a href="/user/addcontacts.html" class="btn btn-primary">Add Contacts</a>
        </p>
        <div class="row">
            {{> added-contact}}
        </div>
    </div>
</div>
