---
title: Account Recovery
---

<div class="container-table">
      <div class="row vertical-center-row">
        <div class="login">
          <h1>Account Recovery</h1>
          <p>
            An email has been sent to loremipsum@email.com.<br />
            Please follow the instructions to reset password.
          </p>
          <a href="/" class="btn btn-primary btn-block">Continue</a>
        </div>
      </div>
    </div>
