---
title: Confirmation
---

<div class="container-table">
    <div class="row vertical-center-row">
      <div class="user-reg col-md-6 col-md-offset-3">
            <a href="index.html" class="btn btn-primary btn-block">Back to Map</a>
        <h2>Subscribe to Emergency Notification Service</h2>
        <h5>Confirmation email sent to loremipsum@email.com</h5>
        <p>
          Click on the confirmation link in the email or enter the confirmation number provided.
        </p>
        <form action="user/confirmed.html" class="form-inline" data-toggle="validator" role="form">
          <div class="form-group confirmation-number">
              <label>Confirmation Number</label><br />
            <input type="text" class="form-control input-lg" maxlength="1" onkeypress="return isNumberKey(event)" required />
            <input type="text" class="form-control input-lg" maxlength="1" onkeypress="return isNumberKey(event)" required />
            <input type="text" class="form-control input-lg" maxlength="1" onkeypress="return isNumberKey(event)" required />
            <input type="text" class="form-control input-lg" maxlength="1" onkeypress="return isNumberKey(event)" required />
          </div>
          <button type="submit" class="btn btn-primary btn-block">Confirm</button>
        </form>
        <p>
          You will not receive any emergency notifications until you confirm your email address.<br />
          You can confirm with the link in the email or with the register/confirm address page.
        </p>
      </div>
    </div>
  </div>
