---
title: Log In
---

<div class="container-table">
    <div class="row vertical-center-row">
      <div class="user-reg col-md-4 col-md-offset-4">
<<<<<<< 1c91c5b616eb08ede20c6fcfac42c84c71398a8d
        <h2>User Log In</h2>
        <form data-toggle="validator" role="form">
=======
            <a href="index.html" class="btn btn-primary btn-block">Back to Map</a>
        <h2>User Log In</h2>
<<<<<<< 9478e1023941f59787bd9ecf086909fe2c5e9cf4
<<<<<<< 459b97292863cda49e48dbffee1c1ce2cd88795c
        <form action="user/index.html">
>>>>>>> edit links
          <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" placeholder="username" id="username" required />
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="password" id="password" required />
=======
        <form action="user/index.html" data-toggle="validator" role="form">
=======
        <form data-toggle="validator" role="form">
>>>>>>> login, register js
          <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" placeholder="username" id="username" required />
          </div>
          <div class="form-group">
            <label>Password</label>
<<<<<<< 9478e1023941f59787bd9ecf086909fe2c5e9cf4
            <input type="password" class="form-control" placeholder="password" required />
>>>>>>> fixed alignment of confirmation inputs, added client-side form validation errors
          </div>
          <button type="button" class="btn btn-primary btn-block submit" id="loginbtn">Log in</button>
=======
            <input type="password" class="form-control" placeholder="password" id="password" required />
          </div>
          <button type="button" class="btn btn-primary btn-block" id="loginbtn">Log in</button>
>>>>>>> login, register js
        </form>
        <p>
              <a href="accountrecovery.html">Click here if you have trouble logging in</a>
            </p>
      </div>
    </div>
  </div>
