---
title: Register
---

<div class="container-table">
    <div class="row vertical-center-row">
      <div class="user-reg col-md-4 col-md-offset-4">
        <h3>Register for The California Emergency Notification Service</h3>
        <form data-toggle="validator" role="form">
          <div class="form-group">
              <label>Enter Your Email Address</label>
              <input type="email" class="form-control email" id="email" placeholder="email" data-error="Please enter a valid email address." required>
              <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label>Enter a Password</label>
            <input type="password" id="password" class="form-control" placeholder="password" required />
          </div>
          <div class="form-group">
            <label>Re-Type Password</label>
            <input type="password" class="form-control" placeholder="password" id="confirmpassword" data-match="#password" data-match-error="Passwords must match." required />
            <div class="help-block with-errors"></div>
          </div>
          <button type="button" class="btn btn-primary btn-block submit" id="subscribe" data-toggle="modal" data-target="#popupAlert">Subscribe</button>
          <a href="index.html" class="btn btn-default btn-block">Cancel</a>
        </form>
        <p>
          <a href="disclaimer.html">disclaimer</a>
        </p>
      </div>
    </div>
  </div>
