<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body>
    {{#if production}}
      {{> tags }} {{! Google Tags. See https://www.google.com/tagmanager/}}
    {{/if}}
    <!-- Navigation component -->
    {{> nav-admin }}


  {{!> admin-events }}

    <div class="content container">
      {{> body }}
    </div>

    {{> alert-create-modal}}

    {{!> event-create-modal}}


  <!-- Popup Alert -->
  {{> popup-alert}}

    <!-- Footer -->
    {{> admin-footer }}

    <!-- JS and analytics only. -->
    {{> javascripts }}
  </body>
</html>
